@import "scss/position-mixins";
@import "scss/font-mixins";
@import "scss/color-vars";

.other-offers-container {
  @include flex-center;
  flex-wrap: wrap;
}

.offer {
  width: 100%;
  flex-grow: 1 1 300px;
  max-width: 400px;
  position: relative;

  img {
    width: 100%;
    object-fit: scale-down;
  }

  figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $main-light-blue;
    padding: 18px 36px;
    text-align: center;
  }

  a {
    @include font-Sans;
    font-weight: 400;
    font-size: 1rem;

    &:hover {
      font-weight: 600px;
      font-size: 1.2rem;
    }
  }
}

.best-bouquets-offers-container {
  position: relative;
  min-height: 740px;
  min-width: 65%;
}

.flower-offer-decorator {
  position: absolute;
  right: 0;
  bottom: -10px;
}

.main-offer-bouquet {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 450px;
}

.side-bouquet-1, .side-bouquet-3 {
  width: 300px;
  position: absolute;
}

.side-bouquet-2 {
  position: absolute;
  width: 140px;
  bottom: 350px;
  right: 560px;
}

.side-bouquet-1 {
  top: 0;
  right: 300px;
}

.side-bouquet-3 {
  bottom: 50px;
  right: 500px;
}

.main-offer-container {
  display: flex;
  width: 100%;
  padding-left: 36px;
}

.best-offer-container {
  width: 35%;
  text-align: center;
  @include font-Sans;
  @include flex-center;
  flex-direction: column;

  h2 {
    text-align: center;
    font-size: 3rem;
  }

  p {
    margin-bottom: 24px;
    font-size: 1.4rem;
  }
}

.main-btn-blue, .main-btn-pink {
  border: none;
  border-radius: 12px;
  line-height: 36px;
  padding: 0 12px;
  @include font-Sans;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.main-btn-blue:hover {
  background-color: $main-light-blue;
  color: $white;
}

.main-btn-pink {
  &:hover {
    background-color: $main-light-blue;
    color: $white;
  }

  background-color: $light-pink;
  color: $white;
}

.main-btn-blue {
  background-color: $white;
  color: $main-light-blue;
  box-shadow: inset 0 0 0px 3px $main-light-blue;
}
